/*DIV*/

body { 
font: normal 12px verdana, arial, helvetica, sans-serif;
margin:5px auto;
width: 450px;
}

.titulo {
font-family: Verdana;
font-size: 15px;
font-style: normal;
font-weight: normal;
color: red;
}

.acoes {
font: normal 13px verdana, arial, helvetica, sans-serif;
font-style: normal;
font-weight: normal;
}

.botao{
margin:10px 10px 10px 0;
font-weight: bold;
line-height: 1;
padding: 4px 6px;
cursor:pointer;
color: #fff;
text-align: center;
background: #57A000;
background: -moz-linear-gradient
(top, #a5b8da 0%, #7089b3 100%);
background: -webkit-gradient
(linear, 0% 0%, 0% 100%,
from(#a5b8da), to(#7089b3));
border: 1px solid #5c6f91;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

.input {
font-family: Arial, Verdana;
font-size: 12px;
padding: 5px;
border: 1px solid #b9bdc1;
width: 200px;
color: #797979;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

A:link {text-decoration:none}
A:visited {text-decoration:none}
A:active {text-decoration:none}
A:hover {text-decoration:none}
a img {border-width:0;}

/*EDITAR*/

.editar {
font-family: Verdana;
font-size: 15px;
font-style: normal;
font-weight: normal;
color: red;
}

.input2 {
font-family: Arial, Verdana;
font-size: 12px;
padding: 5px;
border: 1px solid #b9bdc1;
width: 150px;
color: #797979;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

.text {
font-family: Verdana;
font-size: 15px;
font-style: normal;
font-weight: normal;
color: black;
}

/*TABELAS*/

table{
border-collapse: collapse;
border: 1px solid #666666;
font: normal 12px verdana, arial, helvetica, sans-serif;
color: #363636;
background: #f6f6f6;
width: 450px;
margin:5px auto; 
}

table, td, th
{
border:1px solid #666666;
}

td.id {
width: 10px;
text-align: left;
}

td.opcao {
width: 15px;
text-align: left;
}

/*MAC*/
.inputm {
margin:5px 5px 5px 35px;
font-family: Arial, Verdana;
font-size: 12px;
padding: 5px;
border: 1px solid #b9bdc1;
width: 150px;
color: #797979;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

/*IP inputi*/
.inputi {
margin:5px 5px 5px 48px;
font-family: Arial, Verdana;
font-size: 12px;
padding: 5px;
border: 1px solid #b9bdc1;
width: 150px;
color: #797979;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

/*hostname*/
.inputh {
margin:5px 5px 5px 0;
font-family: Arial, Verdana;
font-size: 12px;
padding: 5px;
border: 1px solid #b9bdc1;
width: 150px;
color: #797979;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
